/**************************/
/* HEADER */
/**************************/

.header {
  align-items: center;
  display: flex;
  background-color: #fdf2e9;
  justify-content: space-between;
  padding: 0 4.8rem;
  height: 9.6rem;
}

.logo {
  height: 2.2rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.nav-list {
  align-items: center;
  display: flex;
  align-items: center;
  gap: 4.8rem;
  list-style: none;
}

.nav-link:link,
.nav-link:visited {
  font-weight: 500;
  color: #333;
  text-decoration: none;
  font-size: 1.8rem;
}

.nav-link:hover,
.nav-link:active {
  color: #cf711f;
}

.nav-link.nav-cta:link,
.nav-link.nav-cta:visited {
  background-color: #e67e22;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
}

.nav-link.nav-cta:hover,
.-nav-link.nav-cta:active {
  background-color: #cf711f;
}

.nav-button {
  font-weight: 500;
  text-decoration: none;
  font-size: 1.8rem;
}
/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: flex;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/**************************/
/* FEATURED IN SECTION */
/**************************/

.section-featured {
  margin: 5rem 0 3rem 0;
}

.featured {
  text-align: center;
  color: grey;
  font-weight: 500;
  font-size: 1.3rem;
  letter-spacing: 0.77px;
  text-align: center;
  margin-bottom: 2.5rem;
}

.logos {
  display: flex;
  justify-content: space-between;
}

.logos img {
  /* I found a way to make the image grey: */
  filter: brightness(0);
  opacity: 50%;
  height: 3.3rem;
}

/**************************/
/* FEATURED IN SECTION END */
/**************************/

/**************************/
/* HOW IT WORKS SECTION */
/**************************/

.section-how {
  max-width: 130rem;
  margin: 0 auto;
  padding: 6rem 4rem;
}

.how-full-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.how-full-container > div {
  flex: 1;
}

.how-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 27rem;
  margin-top: 3rem;
  flex-direction: row-reverse;
}

.how-step-num {
  display: flex;
  color: #b4adad;
  font-size: 8.6rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.how-heading {
  color: black;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.how-heading span {
  font-style: italic;
  font-weight: 400;
}

.how-desc {
  font-size: 1.8rem;
  line-height: 1.8;
}

.how-img-container {
  position: relative;
  /* margin-right: 17rem; */
}

.how-img-middle-container {
  position: relative;
  /* margin-right: 17px;
  margin-left: 137px; */
}

.circles-1 {
  width: 307px;
  height: 307px;
  border-radius: 50%;
  background-color: peachpuff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.77;
}

.circles-2 {
  width: 257px;
  height: 257px;
  border-radius: 50%;
  background-color: peachpuff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.mobile-img {
  text-align: center;
}

/**************************/
/* HOW IT WORKS SECTION END */
/**************************/

/**************************/
/* MEALS SECTION */
/**************************/

.section-meals {
  margin-bottom: 4.7rem;
}

.meals-cards {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  gap: 7rem;
}

.meals-heading-p {
  text-align: center;
  color: #e67e22;
}

.meals-heading-h1 {
  text-align: center;
}

.card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transform: translateY(0rem);
  border-radius: 1.5rem;
  transition: 777ms;
  overflow: hidden;
  flex-basis: 30rem;
  /* flex-grow: 3;
  flex: 1; */
}

.card:hover {
  transform: translateY(-2rem);
}

.material-symbols-outlined {
  color: #e67e22;
}

.text {
  font-size: 1.8rem;
}

.stats {
  flex-direction: column;
  display: flex;
  gap: 2rem;
}

.meals-img-container > img {
  width: 100%;
  height: auto;
}

.ul {
  flex-direction: column;
  list-style: none;
  display: flex;
  gap: 1.77rem;
  flex-basis: 30rem;
  /* flex-grow: 3;
  flex: 1; */
}

.diet-btn {
  text-decoration: none;
  font-size: 1.7rem;
  margin-top: 7rem;
  color: #e67e22;
  cursor: pointer;
  border: none;
}

.recipes-btn {
  text-align: center;
}

.card-text-box {
  padding: 3.2rem;
}

.tag-t1 {
  background-color: lime;
  padding: 0.4rem 0.8rem;
  border-radius: 17px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
}

.tag-t2 {
  background-color: peachpuff;
  padding: 0.4rem 0.8rem;
  border-radius: 17px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
}

.card-name {
  margin-top: 1.77rem;
}

/**************************/
/* MEALS SECTION END */
/**************************/

/**************************/
/* TESTIMONIALS SECTION */
/**************************/

.section-testimonials {
  background-color: #f9f1ec;
  margin-bottom: 3.7rem;
  padding: 7rem 0rem;
}

.testimonial-container {
  margin: 0rem 7rem;
  display: flex;
  gap: 10rem;
}

.testimonial-header {
  padding-top: 7.7rem;
}

.testimonial-ul {
  list-style: none;
  gap: 1.77rem;
}

.top-comments {
  margin-bottom: 7rem;
  display: flex;
}

.bottom-comments {
  display: flex;
}

.testimonial-text {
  margin-bottom: 1.7rem;
  font-size: 1.7rem;
  line-height: 1.7;
}

.signature {
  color: #6f6f6f;
  font-size: 1.7rem;
}

.testimonial-imgs {
  gap: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.testimonial-imgs > img {
  transition: 777ms;
  height: auto;
  width: 17rem;
  flex: 1;
}

.testimonial-imgs > img:hover {
  transition-duration: 777ms;
  transform: scale(1.1);
}

/**************************/
/* TESTIMONIALS SECTION END */
/**************************/

/**************************/
/* PRICING SECTION */
/**************************/

.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  border-radius: 11px;
  width: 75%;
}

.card-container {
  justify-content: space-evenly;
}

.pricing-plan-starter {
  transition: 777ms cubic-bezier(0.6, -0.28, 0.74, 0.05);
  border: 2px solid #fdf2e9;
  padding: 4.7rem;
  height: auto;
  width: 100%;
}

.pricing-plan-starter:hover {
  transform: scale(1.1);
}

.pricing-plan-complete {
  transition: 777ms cubic-bezier(0.6, -0.28, 0.74, 0.05);
  background-color: #fdf2e9;
  position: relative;
  overflow: hidden;
  padding: 4.7rem;
  height: auto;
  width: 100%;
}

.pricing-plan-complete:hover {
  transform: scale(1.1);
}

.pricing-plan-complete::after {
  background-color: #ffd43b;
  transform: rotate(45deg);
  content: "Best value";
  padding: 0.7rem 8rem;
  position: absolute;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  right: -17%;
  top: 7%;
}

.plan-header {
  margin-bottom: 4.7rem;
  text-align: center;
}

.plan-name {
  margin-bottom: 3.2rem;
  letter-spacing: 0.75;
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
}

.plan-price {
  margin-bottom: 1.7rem;
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
}

.plan-price span {
  margin-right: 0.8rem;
  font-weight: 500;
  font-size: 3rem;
}

.plan-text {
  font-size: 1.7rem;
  line-height: 1.7;
  color: #6f6f6f;
}

.plan-details {
  text-align: center;
  font-size: 1.7rem;
  line-height: 1.7;
}

.feature-icon {
  background-color: #fdf2e9;
  margin-bottom: 3.2rem;
  border-radius: 50%;
  color: #e67e22;
  padding: 1.7rem;
}

.feature-title {
  margin-bottom: 1.7rem;
  font-size: 2.4rem;
  font-weight: 700;
  color: #333;
}

.feature-text {
  font-size: 1.7rem;
  line-height: 1.7;
}

.features {
  display: flex;
  gap: 3rem;
}

/**************************/
/* PRICING SECTION END */
/**************************/

/**************************/
/* CTA SECTION */
/**************************/

.cta {
  background-color: #e67e22;
  margin-bottom: 12rem;
  border-radius: 11px;
  overflow: hidden;
  display: flex;
}

.left-side {
  color: #45260a;
  flex-basis: 70%;
  padding: 4rem;
}

.heading-cta {
  margin-bottom: 3rem;
  font-size: 4.4rem;
  line-height: 1.2;
  color: black;
}

.cta-text {
  margin-bottom: 4.7rem;
  font-size: 1.7rem;
  line-height: 1.7;
}

.cta-list {
  /* margin-bottom: 3.7rem; */
  display: flex;
  flex-direction: row;
  gap: 5.7rem;
  list-style: none;
  /* width: 70rem; */
}

.cta-list > li {
  width: 100%;
}

.cta-list:first-child {
  margin-bottom: 3.7rem;
}

.form-heading {
  margin-bottom: 1.2rem;
  font-size: 1.7rem;
  font-weight: 500;
  display: block;
}

.cell {
  background-color: #fdf2e9;
  border-radius: 9px;
  font-size: 1.7rem;
  padding: 1.2rem;
  border: none;
  width: 100%;
}

.btn-cell {
  border-radius: 9px;
  text-align: center;
  font-size: 1.7rem;
  padding: 1.2rem;
  width: 31rem;
}

.cta-img {
  width: 100%;
  height: auto;
  opacity: 0.7;
}

.cta-image {
  background-image: url(../img/eating.jpg);
  background-size: cover;
  flex-basis: 30%;
  opacity: 0.75;
}

/**************************/
/* CTA SECTION END */
/**************************/

/**************************/
/* FOOTER */
/**************************/

.footer {
  border-top: 1px solid #eee;
  padding: 12.7rem;
}

.logo-section {
  flex-direction: column;
  display: flex;
}

.footer-logo {
  margin-bottom: 3.2rem;
}

.sl {
  list-style: none;
  display: flex;
  gap: 2.7rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.cs {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: 7rem;
}

.footer-heading {
  margin-bottom: 4rem;
  font-size: 1.7rem;
  font-weight: 500;
}

.contacts {
  font-style: normal;
  font-size: 1.7rem;
  line-height: 1.7;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-navigation {
  flex-direction: column;
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.footer-link {
  text-decoration: none;
  transition: all 0.3s;
  font-size: 1.7rem;
  color: #767676;
}

.row {
  display: flex;
  gap: 7rem;
}

.footer-rows {
  justify-content: center;
}

/**************************/
/* FOOTER END */
/**************************/

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  .hero {
    padding: 0 7.5rem;
    gap: 6.7rem;
  }
  .heading-primary {
    font-size: 3.7rem;
  }
  .hero-description {
    font-size: 1.7rem;
  }
  .btn,
  .btn:link,
  .btn:visited {
    font-size: 1.7rem;
  }
  .left-side {
    padding: 3rem;
  }

  .testimonial-container {
    flex-direction: column;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .hero-text-box {
    text-align: center;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .hero-img-box {
    text-align: center;
    margin-top: 7rem;
  }

  .hero-img {
    width: 60%;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .hero {
    display: block;
    padding: 0 7rem;
    gap: 6.4rem;
  }

  .logos img {
    height: 2.4rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }
  .heading-tertiary {
    font-size: 2.4rem;
  }

  .how-step-number {
    font-size: 7.4rem;
  }
  .mobile-img > img {
    height: auto;
    width: 16rem;
  }
  .circles-1 {
    width: 250px;
    height: 250px;
  }
  .circles-2 {
    height: 207px;
    width: 207px;
  }

  .card-text-box {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .footer-rows {
    flex-direction: column;
  }

  .row {
    justify-content: space-between;
    margin-bottom: 7rem;
  }

  .heading-cta {
    font-size: 3.4rem;
  }

  .cell {
    width: 26rem;
  }

  .left-side {
    padding: 5rem;
  }

  .cta-list {
    display: block;
  }

  .cta-list > li > .cell {
    margin-bottom: 3rem;
    width: 100%;
  }
  
  .cta-list:first-child {
    margin: 0;
  }

  .left-side {
    flex-basis: 65%;
  }

  .cta-image {
    background-position: top;
    flex-basis: 35%;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .logos img {
    height: 1.2rem;
  }
  .mobile-img > img {
    height: auto;
    width: 13rem;
  }
  .circles-1 {
    width: 257px;
    height: 257px;
  }
  .circles-2 {
    height: 190px;
    width: 190px;
  }

  .tags {
    display: block;
  }

  .features {
    margin-bottom: 7rem;
  }

  .card-container {
    display: block;
  }

  .pricing-plan-starter {
    margin-bottom: 7rem;
  }

  .pricing-plan-complete::after {
    right: -9%;
    top: 7%;
  }

  .cta-list {
    display: block;
    height: auto;
    width: 100%;
  }

  .cta-list > li {
    margin-bottom: 2rem;
  }
  
  .cta {
    flex-direction: column-reverse;
  }

  .btn-cell,
  .cell {
    height: auto;
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .section-how {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }
  .how-full-container {
    display: table-row;
  }

  .how-img-container {
    margin-top: 7rem;
    margin-bottom: 7rem;
  }

  .features {
    display: block;
  }

  .feature {
    margin-bottom: 7rem;
  }
}
